.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}
.sidebar-link{
  
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  
}
.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}
.sidebar-link div {
  font-family: Roboto,Arial;
  font-size: 10px;

}

@media(min-width: 1309.9px) and (max-width: 789.9px){
  .sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
  }
  .sidebar-link{
  
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  
  }
  .sidebar-link img {
  height: 24px;
  width: 24px;
  margin-bottom: 4px;
  }
  .sidebar-link div {
  font-family: Roboto,Arial;
  font-size: 10px;

  }
}
@media(max-width: 790px){
  .sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 0px;
    z-index: 200;
    padding-top: 5px;
  }
  .sidebar-link{
    
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
  }
  .sidebar-link img {
    height: 0px;
    margin-bottom: 4px;
  }
  .sidebar-link div {
    font-family: Roboto,Arial;
    font-size: 0px;
  
  }
  body{
    padding-left: 24px;
  }
  
}

@media(min-width: 1310px){
  .sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 224px;
    z-index: 200;
    padding-top: 5px;
  }
  .sidebar-link{
    
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: initial;
    padding-left: 25px;
    flex-direction: row;
    cursor: pointer;
}
.sidebar-link img {
  height: 27px;
  margin-bottom: 4px;
  margin-right: 25px;
}
.sidebar-link div {
  font-family: Roboto,Arial;
  font-size: 13px;

}
body{
  padding-left: 248px;
}
}

.sidebar-link:hover{
  background-color: rgb(235, 235, 235);
}
